{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>The BookShelf - Where dream comes true</title>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
<!-- This part is in the screenshot at the bottom! -->
<a href="/admin">admin</a>
<div id="app">
    {% render_bundle 'app' %}
    </div>
  </body>
</html>
